<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613797255615-7qkapdce5lm7vebakhk6lg0c1vd1b8s4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613797255615-7qkapdce5lm7vebakhk6lg0c1vd1b8s4</string>
	<key>API_KEY</key>
	<string>AIzaSyC5pzyEThGz80gPoVc-8BXjux4ld-eHfBc</string>
	<key>GCM_SENDER_ID</key>
	<string>613797255615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>example.expo.googlesignin</string>
	<key>PROJECT_ID</key>
	<string>mymusic-c0882</string>
	<key>STORAGE_BUCKET</key>
	<string>mymusic-c0882.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613797255615:ios:d8a8d272f3f13666d7e90a</string>
	<key>DATABASE_URL</key>
	<string>https://mymusic-c0882-default-rtdb.firebaseio.com</string>
</dict>
</plist>